.cabecalho {
    display: flex;
}

.logo-omu {
    width: 6vw;
    height: auto;
    margin: 2.5vh 4vw 0vh 4vw;
}

.link-login {
    color: #3856F8;
    font-weight: 700;
}

.menu-navegacao {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    font-size: 1.5em;
    margin: 4vh 0vw 0vh 3.5vw;
}

.link-logo-omu {
    margin-left: 0vw;
}

.span-vermelho {
    color: #F95E3E;
    font-weight: 900;
}

.span-azul {
    color: #3856F8;
    font-weight: 900;
}

.span-amarelo {
    color: #F8BA1B;
    font-weight: 900;
}

.span-branco {
    color: #ffffff;
    font-weight: 900;
}


.l1,
.l2,
.l3 {
    font-weight: 500;
    font-family: 'Jost';
}

.l1:hover {
    color: #F95E3E;
    text-decoration: none;
}

.l2:hover {
    color: #3856F8;
    text-decoration: none;
}

.l3:hover {
    color: #F89EDA;
    text-decoration: none;
}

.link-login:hover {
    color: #000000;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 4%;
    border: none;
    outline: none;
}

body {
    background-color: #FFF8E1;
}

.box-foto-regulamento {
    width: 50vw;
    padding: 10vh 10vw 0vh 10vw;
}

.foto-regulamento {
    width: 30vw;
}

.texto-regulamento {
    padding: 10vh 10vw 0vh 0vw;
    font-family: 'Jost';
    text-align: justify;
    text-justify: inter-word;
    font-weight: 700;
    font-family: 'Nimbus Sans L', helvetica;
}

.box-geral {
    display: flex;
    flex-direction: row;
}

#botao-vermelho {
    font-family: 'Jost', helvetica;
    background-color: #F95E3E;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.25em;
    margin: 20vh 0% 0% 0%;
    cursor: pointer;
    border-radius: 15px;
    font-weight: 900;
    color:#FFF8E1
}