.cabecalho {
    display: flex;
}

.logo-omu {
    width: 6vw;
    height: auto;
    margin: 2.5vh 4vw 0vh 4vw;
}

.link-login {
    color: #3856F8;
    font-weight: 700;
}

.menu-navegacao {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    font-size: 1.5em;
    margin: 4vh 0vw 0vh 3.5vw;
}

.link-logo-omu {
    margin-left: 0vw;
}

.span-vermelho {
    color: #F95E3E;
    font-weight: 900;
}

.span-azul {
    color: #3856F8;
    font-weight: 900;
}

.span-amarelo {
    color: #F8BA1B;
    font-weight: 900;
}

.span-rosa {
    color: #F89EDA;
    font-weight: 900;
}

.span-branco {
    color: #FFF8E1;
    font-weight: 900;
}

.span-vermelho-grosso {
    color: #F95E3E;
    font-weight: 900;
}

.span-azul-grosso {
    color: #3856F8;
    font-weight: 900;
}

.span-amarelo-grosso {
    color: #F8BA1B;
    font-weight: 900;
}

.span-rosa-grosso {
    color: #F89EDA;
    font-weight: 900;
}

.span-branco-grosso {
    color: #ffffff;
    font-weight: 900;
}

.span-preto-grosso {
    color: #000000;
    font-weight: 900;
}

.l1,
.l2,
.l3 {
    font-weight: 500;
    font-family: 'Jost';
}

.l1:hover {
    color: #F95E3E;
    text-decoration: none;
}

.l2:hover {
    color: #3856F8;
    text-decoration: none;
}

.l3:hover {
    color: #F89EDA;
    text-decoration: none;
}

.link-login:hover {
    color: #000000;
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #000000;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    margin-left: 4%;
    border: none;
    outline: none;
}

body {
    background-color: #FFF8E1;
    margin: 0% 0% 0% 0%;
}

/*Cards OMU*/
.cards {
    margin: 0vh 0vw 10vh 0vw;
    display: flex;
    justify-content: space-evenly;
    font-family: 'Nimbus Sans L', helvetica;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0) 78%, rgba(248, 158, 218, 1) 75%);
}

.cards img {
    width: 10vw;
    margin: 6vh 0vw 0vh 7.5vw;
}

.card-vermelho {
    width: 25vw;
    border: #F95E3E solid 5px;
    border-radius: 20px;
    padding: 0vh 0vw 5vh 0vw;
    background-color: #FFF8E1;
}

.card-amarelo {
    width: 25vw;
    border: #F8BA1B solid 5px;
    border-radius: 20px;
    padding: 0vh 0vw 5vh 0vw;
    background-color: #FFF8E1;
}

.card-azul {
    width: 25vw;
    border: #3856F8 solid 5px;
    border-radius: 20px;
    padding: 0vh 0vw 5vh 0vw;
    background-color: #FFF8E1;
}

.card-vermelho p {
    text-align: center;
    font-size: 1.5em;
    line-height: 0.4;
}

.card-amarelo p {
    text-align: center;
    font-size: 1.5em;
    line-height: 0.4;
}

.card-azul p {
    text-align: center;
    font-size: 1.5em;
    line-height: 0.4;
}

/**Linha do Tempo*/

.container {
    position: relative;
    width: 100vw;

}

.centralizador {
    display: flex;
    justify-content: center;
    margin: 1vh 0vw 1vh 0vw;
}

.centralizador .botao-amarelo {
    margin: 3vh 0vh 7vh 0vh;
}

.linha-vertical {
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 1px;
    background: #000;
    transform: translateX(-50%);
}

.bolinha-extremidade {
    position: absolute;
    left: 50%;
    width: 0.4rem;
    height: 0.4rem;
    border: 1.5px solid #000;
    border-radius: 50%;
    background: #fff;
    transform: translateX(-50%);
}

.bolinha-extremidade.topo {
    top: -0.2rem;
}

.bolinha-extremidade.fundo {
    bottom: -0.2rem;
}

.linha {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 6vh 0;
}

.lado-esquerdo,
.lado-direito {
    display: flex;
    align-items: center;
    flex: 1;
}

.lado-esquerdo {
    justify-content: flex-end;
    padding-right: 0.1rem;
}

.lado-direito {
    justify-content: flex-start;
    padding-left: 0.1rem;
}

.linha-pontilhada {
    border-top: 1px dotted #000;
    height: 0;
    width: 33%;
}

.bolinha-preta {
    width: 0.4rem;
    height: 0.4rem;
    background: #000;
    border-radius: 50%;
    flex-shrink: 0;
}

.botao-amarelo:hover {
    text-decoration: none;
    background-color: #a07301;
}

.botao-amarelo {
    background-color: #F8BA1B;
    border: #F8BA1B solid 1px;
    border-radius: 10px;
    padding: 1vh 1vh 1vh 1vh;
    margin: 0% 0% 0% 0%;
    font-weight: 800;
    text-align: center;
    color: #FFF8E1;
    cursor: pointer;
}

/*Footer*/

.div-pai-footer {
    display: flex;
    align-items: stretch;
    margin: 0% 0% 0% 0%;
    width: 100%;
}

.logo-grande {
    height: 10vh;
    width: auto;
}

.logo-grande-fit {
    height: 12vh;
    width: auto;
}

.logo-metade {
    height: auto;
    width: 10vw;
}


footer h1 {
    font-size: x-large;
    font-weight: 300;
}

footer div {
    width: 44vw;
    margin: 2.5vw 2.5vw 2.5vw 2.5vw;
    display: inline-block;
}

footer h3 {
    font-family: "Jost", arial;
    font-optical-sizing: auto;
    font-weight: 300;
}

footer {
    background-color: #3856F8;
    color: #FFFFFF;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    width: 100%;
}

.faixa {
    width: 100vw;
    height: auto;
}

.box-apoiadores {
    display: flex;
    flex-direction: row;
    margin: 0vh 0vw 0vh 0vw;
}

.box-deape-proeec {
    display: flex;
    flex-direction: column;
    margin: 0vh 0vw 0vh 0vw;
    width: 11vw;
}

html,
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.box-matematica-para-todos {
    margin: 0vh 0vw 0vh 0vw;
}

/*Triangulo Rosa*/

.quadrilatero {
    position: absolute;
    left: 0;
    right: 0;
    height: 40vh;
    /* mais baixo */
    top: 90%;
    /* meio da tela */
    transform: translateY(-50%);
    /* centraliza verticalmente */
    background: #F89EDA;
    /* rosa 游눙 */

    /*
    Formato: ret칙ngulo com um tri칙ngulo acoplado em cima.
    O tri칙ngulo come칞a na esquerda e o ponto mais alto est치 na direita.

    Pontos (x y), em %:
    0% 50%   -> topo  esquerda (mais baixo)
    60% 40%  -> parte intermedi치ria da inclina칞칚o
    100% 30% -> ponto mais alto,  direita
    100% 70% -> canto inferior direito
    0% 70%   -> canto inferior esquerdo
  */
    clip-path: polygon(0 50%,
            60% 40%,
            100% 30%,
            100% 70%,
            0 70%);

    display: flex;
    align-items: center;
    z-index: 2;
    /* fica por cima dos textos */
}

/* Texto dentro do quadril치tero, mais para o lado direito */
.quadrilatero-conteudo {
    color: #ffffff;
    padding: 20px 40px;
    max-width: 40%;
    margin-left: auto;
    /* empurra para a direita */
    margin-right: 5%;
}

.titulo-master {
    font-family: 'Jost';
    font-size: 3em;
}

.box-participacao {
    width: 90vw;
    padding: 10vh 5vw 20vh 5vw;;
    display: flex;
    flex-direction: row;

}

.texto-participacao {
    font-family: 'Nimbus Sans L';
    font-size: 1.25em;
}

.botao-azul:hover {
    text-decoration: none;
    background-color: #283cac;
}

.botao-azul {
    background-color: #3856F8;
    border: #3856F8 solid 1px;
    border-radius: 10px;
    padding: 1vh 1vh 1vh 1vh;
    margin: 0% 0% 0% 0%;
    font-weight: 800;
    text-align: center;
    color: #FFF8E1;
    cursor: pointer;
}

.box-texto-botao,
.box-foto {
    width: 45vw;
}


.foto-professores {
    width: 45vw;
    position: relative;
}

.bloco-rosa {
    background-color: #F89EDA;
}

.texto-rosa {
    margin: 0vh 5vw 0vh 5vw;
    padding: 0vh 0vw 5vh 0vw;
    font-family: 'Nimbus Sans L';
    color: #FFF8E1;
    font-size: 1.75em;
}

.box-texto-imagem-tri {
    display: flex;
    flex-direction: column;
    position: relative;
}

.tri-rosa {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* equivale a top/right/bottom/left = 0 */
    z-index: 1;
    width: 100vw;
    height: 33vh;
    background: linear-gradient(176deg, rgba(255, 248, 225, 0) 0%, rgba(255, 248, 225, 0) 33%, rgba(248, 158, 218, 1) 33%);
}