/*Menu de navegação*/
.cabecalho-branco {
    display: flex;
    color: #FFF8E1;
    position: absolute;
    top: 1px;
    z-index: 2;
    font-family: "Jost", arial;
}

.link-logo-omu {
    margin-left: 0vw;
}

.logo-omu {
    width: 6vw;
    height: auto;
    margin: 2.5vh 4vw 0vh 4vw;
}

.menu-navegacao-branco {
    justify-content: space-evenly;
    width: 70vw;
    font-size: 1.5em;
    margin: 4vh 0vw 0vh 3.5vw;
    color: #FFF8E1;
}

#espaco-igualmente-distribuido {
    display: flex;
    justify-content: space-evenly;
}

/*Menu de navegação*/

.intro {
    margin-left: 5vw;
    font-size: 3.25vh;
}

.intro p {
    font-family: 'Nimbus Sans L', helvetica;
    font-weight: -100;
    margin-top: 0%;
    margin-bottom: 10%;
}

.texto-blog {
    display: flex;
    align-items: stretch;
    margin-top: 2.5%;
    z-index: 1;
    position: relative;
}

.texto-blog p {
    font-size: 0.7em;
}

/* Menu de navegação e suas cores */
.link-login-branco {
    color: #F8BA1B;
    font-weight: 500;
}

.link-login-branco:hover {
    color: #F8BA1B;
    text-decoration: none;
}

.l1-branco {
    color: #FFF8E1;
    font-weight: 500;
    text-decoration: none;
}

.l1-branco:hover {
    color: #F95E3E;
    text-decoration: none;
}

.l2-branco {
    color: #FFF8E1;
    text-decoration: none;
    font-weight: 500;
}

.l2-branco:hover {
    text-decoration: none;
    color: #3856F8;
}

.l3-branco {
    color: #FFF8E1;
    font-weight: 500;
    text-decoration: none;
}

.l3-branco:hover {
    color: #F89EDA;
    text-decoration: none;
}

.l4-branco {
    color: #FFF8E1;
    font-weight: 500;
    text-decoration: none;
}

.l4-branco:hover {
    color: #F8BA1B;
    text-decoration: none;
}

/* Menu de navegação e suas cores */


/*Estrutura da Página*/
#pagina-rosa {
    background-color: #F89EDA;
    color: #FFF8E1;
}

.manchete{
    position: absolute;
    bottom:20%; 
    left:20%;
    font-family:'Jost', helvetica;
}

.materia {
    width: 100%;
    display: flex;
    flex-direction: row;
    font-family: 'Nimbus Sans L', helvetica;
}

.foto-materia {
    width: 35%;
    height: auto;
    padding: 8% 2% 0% 4%;
    position: relative;
}

.texto-15 {
    width: 15%;
    height: auto;
    padding: 8% 0.2% 0% 0.2%;
    font-weight: 700;
}

.texto-50 {
    width: 50%;
    height: auto;
    padding: 8% 4% 0% 2%;
    text-align: justify;
  text-justify: inter-word;
}

.foto-vertical {
    object-fit: cover;
    width: 100%;
}

.logo-galeria{
    height: 6vh;
}

.galeria-noticias{
    margin: 20vh 0vh 4vh 5vw;
    font-family: "Jost", arial;
    display: flex;
    flex-direction: row;
    width: 30vw;
}

.paragrafo-noticias-antigas{
    width: 40%;
    margin: 0% 0% 0% 2%;
    font-weight: 700;
}

.link-galeria-noticias{
    color:#FFF8E1;
    text-decoration: none;
}
